.order-stand{
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.order-stand img{
  margin: 15px;
  width: 220px;
  height: 220px;
  border-radius: 10px;
}
