.accept-order-button{
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  height: 125px;
  border-radius: 10px;
}

.accept-order-button label{
  position: relative;
  height: 50px;
  width: 90%;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 30px;
  outline: none;
  background-color: black;
  color: bisque;
}

.accept-order-button button{
  position: relative;
  height: 50px;
  width: 90%;
  margin-top: 15px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 30px;
  outline: none;
  background-color: black;
  color: bisque;
}
